// Primer paleta de colores
$first-color: #f7f7f7;
$second-color: #c9d1d3;
$third-color: #9dd3df;
$fourth-color: #3b3737;
$fifth-color: #991818;

// Clases de fondo
.blanco-paleta-background {
    background-color: $first-color !important;
  }
  
  .gris-paleta-background {
    background-color: $second-color !important;
  }
  
  .morado-claro-paleta-background {
    background-color: $third-color !important;
  }
  
  .morado-semi-claro-paleta-background {
    background-color: $fourth-color !important;
  }
  
  .morado-oscuro-paleta-background {
    background-color: $fifth-color !important;
  }
  
  // Clases de texto
  .blanco-paleta-text {
    color: $first-color !important;
  }
  
  .gris-paleta-text {
    color: $second-color !important;
  }
  
  .morado-claro-paleta-text {
    color: $third-color !important;
  }
  
  .morado-semi-claro-paleta-text {
    color: $fourth-color !important;
  }
  
  .morado-oscuro-paleta-text {
    color: $fifth-color !important;
  }