
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Russo+One&display=swap');
// _variables.scss
$title-font-regular: Headliner, "Russo One", Soviet, Georgia;
$title-font-secondary: Soviet, "Russo One";
$principal-font-regular: Futura, Soviet, Georgia;
$autor-font-regular: Historia;
// $primary-font: 'Georgia';

// global.scss
.primary-title-font {
  font-family: $title-font-regular !important;
}

.secondary-title-font {
  font-family: $title-font-secondary !important;
}

.primary-font {
  font-family: $principal-font-regular !important;
}

.autor-font-regular{
  font-family: $autor-font-regular !important;
}

@font-face {
  font-family: "Headliner";
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Roboto"), url("@/assets/fonts/Headliner.woff2") format("woff2")
}

@font-face {
  font-family: "Futura";
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Roboto"),
    url("@/assets/fonts/FuturaRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Historia";
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Roboto"),
    url("@/assets/fonts/thehistoriademo.ttf") format("truetype");
}

// MOVIL FONTS
@font-face {
  font-family: "Soviet";
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Roboto"),
    url("@/assets/fonts/soviet.ttf") format("truetype");
}

// EFECTOS
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: opacity 0.2s ease-in; /* Ajusta la duración según sea necesario */
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
}